<div class="container">
    <h3>Signup Form</h3>
    <hr/>
    <div class="col-md-12">
    </div>
      <div class="col-md-6">
        <form autocomplete="off">
          <div class="form-group">
            <label for="userName">username:</label>
            <input id="userName" type="text" class="form-control" placeholder="username" />
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input id="email" type="text" class="form-control" placeholder="email" />
          </div>
          <div class="form-group">
              <label for="organisation">Multithread</label>
              <input id="organisation" type="text" class="form-control" placeholder="organisation name" />
            </div>
          <div class="form-group">
            <label for="password">password:</label>
            <input id="password" rows=3 class="form-control" placeholder="password"/>
          </div>
          <div class="form-group">
              <label for="confirmpassword">confirm password:</label>
              <input id="confirmpassword" rows=3 class="form-control" placeholder=" confirm password"/>
            </div>
            <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
          </form>
      </div>
</div>

